.hero-head{
  background-image: url("Picture/33103286-blattform-holz-lange-platte-mit-braunen-linien-und-roten-rädern-einzelne-isolierte-darstellung-auf-wei.jpg");
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: center;
}
#buttonTop{
  position: fixed;
  right: 50px;
  z-index: 999;

}
#deck{
  background-color: #eeee;
}



#headline{
  color: white;
  text-align: center;

}


body {
  font-family: sans-serif;
  margin: auto;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
}

.navbar a {
  color: black;

  font-size: 25px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

ul{
  display: inline-flex;

}

